.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 500px;
  height: 500px;
  border-style: inset;
}

p {
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#trending {
  border-style: solid;
  border-radius: 100px;
  background-color: papayawhip;
  color: maroon;
}

#search {
  border-style: solid;
  border-radius: 100px;
  background-color: rgba(119, 192, 238, 0.238);
}